<!doctype html>
<html>
    <head>
        <title>{{page_title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <a href="/">Home</a>
    <br/>
    <a href="/login">Login</a>
    <br/>
    <a href="/blog">Main Blog Page</a>
    <br/>
    <a href='/newpost'>Add a New Blog</a>
    <br/>
    <a href='/logout'>Logout</a>


    <ul>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category,message in messages %}
                <li class='{{category}}'>{{message}}</li>
            {% endfor %}
        {% endwith %}
    </ul>
    
    {% block content %}
    {% endblock %}

</body>
</html>